.alert-container {
  font-family: Arial, sans-serif;
}

.date-time-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background-color: #ffffff;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 100px;
  border: 5px solid darkblue;
  border-radius: 5px;
  z-index: 1000;
}

.date-display, .time-display {
  font-size: 2em;
  color: #000;
  margin: 20px;
}

.no-events {
  margin-top: 100px;
  text-align: center;
}


.event-display {
  /* Add styles for your event display */
}