.admin-create-mycase-form {
  margin-top: 400px;
  margin-bottom: 50px;
}

.admin-create-mycase-form Form {
    max-width: 100%; /* This will prevent any horizontal overflow */
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Remove any fixed or max-width from individual Form.Control to prevent overflow */
  .admin-create-mycase-form Form.Control {
    width: 100%;
  }
  
  .admin-create-mycase-form Form.Control#caseDetails {
    min-height: 150px; 
  }
  
  .admin-create-mycase-form button {
    background-color: #71879e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .admin-create-mycase-form button:hover {
    background-color: #885b5f;
  }
  
  .admin-create-case-form h2 {
    color: #333;
  }
  
  .admin-create-mycase-form Form.Label {
    font-weight: bold;
  }
  
  .admin-create-mycase-form Form.Control {
    margin-bottom: 15px;
  }
  
  .admin-create-mycase-form Button[type="submit"] {
    background-color: #75997d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .admin-create-mycase-form Button[type="submit"]:hover {
    background-color: #885b5f;
  }
  