/* Additional Styles */

/* Calendar Header Styles */
.ant-fullcalendar-header {
  background-color: #1890ff; /* Change the background color as needed */
  color: #fff; /* Change the text color as needed */
}

/* Calendar Tile (Day) Styles */
.day-button {
  background-color: #fafafa; /* Change the background color as needed */
  color: #333; /* Change the text color as needed */
  border: 1px solid #d9d9d9; /* Change the border color as needed */
  width: 10px; /* Adjust the width of each day cell as needed */
  height: 40px; /* Adjust the height of each day cell as needed */
  line-height: 40px;
}

.day-button:hover {
  background-color: #1890ff; /* Change the background color on hover as needed */
  color: #fff; /* Change the text color on hover as needed */
}

/* List Item Styles */
.ant-list-item {
  border-bottom: 6px solid #000000; /* Change the border color as needed */
}

.ant-list-item:last-child {
  border-bottom: none; /* Remove border for the last item in the list */
}

.list-header {
  margin-top: 20px;
  margin-left:100px;
}

.list {
  margin-top: 0px;
  margin-left:100px;
}

/* Wrapper Margin */
.wrapper {
  margin-top: 20px; /* Adjust the top margin as needed */
}

.calendar {
  margin-left:100px;
  margin-right: 800px;
}