/* Add these styles to your CSS file or style section in your React component */

/* UpdateEmail Component Styles */
.UpdateEmailContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .UpdateEmailContainer h2 {
    font-size: 1.5em;
    color: #333;
  }
  
  .UpdateEmailContainer label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .UpdateEmailContainer input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .UpdateEmailContainer button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .UpdateEmailContainer button:hover {
    background-color: #45a049;
  }
  
  .UpdateEmailContainer p {
    margin-bottom: 10px;
  }
  
  /* Modal Styles */
  .ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ReactModal__Content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .UpdateEmailContainer .ReactModal__Content button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .UpdateEmailContainer .ReactModal__Content button:hover {
    background-color: #45a049;
  }
  