/* ViewCaseAdmin.css */

.admin-view-case-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: 1px solid #ddd; /* Add a subtle border */
  }
  
  .admin-view-case-title {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .admin-view-case-button {
    background-color: #7890a0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add transform transition */
    display: block;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box-shadow for elevation */
  }
  
  .admin-view-case-button:hover {
    background-color: #774e4e;
    transform: scale(1.05); /* Scale up on hover */
  }
  
  .admin-view-case-info-item {
    margin: 15px 0;
    font-size: 18px;
    color: #555;
    border-bottom: 1px solid #ddd; /* Add a subtle border between items */
    padding-bottom: 8px; /* Add spacing between items */
  }
  
  .admin-view-case-info-item:last-child {
    border-bottom: none; /* Remove border from the last item */
  }
  
  .admin-view-case-info-item span {
    color: #777;
    font-style: italic;
  }
  
  /* Add more styles as needed */
  